html{
  margin-left: 200px;
  margin-right: 200px;
}

*{
    font-family: "Agu Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 20;
}


#green{
  background-color: green;
  width: 100%;
  float: left;
}
h1{
  text-align: center;
}

img{
  float:left;
}
#white{
  background-color: white;
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}
.va-image{
  float: right;
  margin-right: 130px;
}
.uk-image{
  float: left;
  margin-right: 20px;
}

#blue{
  background-color: blue;
  width: 100%;
  display: inline-block;
 margin-top: 20px;
}
.hs-image{
  float: left;
}
.college-image{
  float: right;
  margin-right: 100px;
}