html {
    font-family: 'Times New Roman', Times, serif;
    background: rgb(245, 245, 229);

}
img {
    height: 500px; width: 500px;    
    border: 2px solid white;
    
}

h1 {
    text-align: right;
}

#resume-header{
    text-align: left;
    margin: 0px;
}

#resume-summary{
    text-align: left;
    margin: 0px;
    margin-top: 10px;
}


#container{
    border: 5px solid white;
    background-color: white;
    margin-right: 0%;
}

#container1{

    margin-left: 35%;
    position:absolute;
    top: 100px;
    
}

#container2{
    margin-left: 35%;
}

#container3{

    position: absolute;
    top: 330px;

}

#container3 h3{
    text-align: center;
}