
html{
  background-color:wheat ;
  margin-left: 300px;
  margin-right: 300px;
}
html div{
  margin-right: 860px;
  padding-right: 10px;
}


#resume{
  background-color: gray;
  height: 300px;
  width: 400px;
  position: relative;
  top: 100px;
  left:10% ;
  padding: 10px;

}


#aboutme {
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "MORF" 40;
  position: relative;
  left: 56%;
  top: 100px;
  position: absolute;
  top: 255px;
  background-color: gray;
  height: 300px;
  width: 400px;
  padding: 10px;


}

#hobbies {
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
    position: relative;
    left: 10%;
    top: 200px;
    background-color: gray;
    height: 300px;
    width: 400px;
    padding: 10px;
  


}



#sports{

  position: relative;
  bottom: 120px;
  left: 60%;
  background-color: gray;
  height: 300px;
  width: 400px;
  padding: 10px;



}
