
html{
  background-color:wheat ;
  margin-left: 300px;
  margin-right: 300px;
}


#resume{
  position: relative;
  top: 100px;
  left:10% ;
}


#aboutme {
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "MORF" 40;
  position: relative;
  left: 56%;
  top: 100px;
  position: absolute;
  top: 230px;

}

#hobbies {
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;

    position: relative;
    left: 10%;
    top: 200px;


}



#sports{

  position: relative;
  bottom: 60px;
  left: 60%;



}


