
#resume{
  margin-top: 10px;
}

#hobbies {
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;

    position: relative;
    left: 60%;
    position: absolute;
    top: 100px;
    margin-top: 10px;
}

#aboutme {
    font-family: "Agu Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 20;
    position: relative;
    left: 30%;
    position: absolute;
    top: 100px;
    margin-top: 10px;

      
  
}

#sports{
  margin-top: 50px;
}

